In [1]:
import pandas as pd
import os

PATH = os.path.join('.\\..\\data\\PS4_GamesSales.csv')

df = pd.read_csv(PATH, encoding='latin-1')

In [2]:
df.groupby(by=['Year']).sum()

,Game,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
Year,,,,,,,,
2013.0,Call of Duty: GhostsBattlefield 4FIFA Soccer 1...,ShooterShooterSportsAction-AdventureShooterRac...,ActivisionElectronic ArtsEA SportsUbisoftSony ...,10.35,12.88,0.97,4.57,28.76
2014.0,Grand Theft Auto VCall of Duty: Advanced Warfa...,ActionShooterAction-AdventureMiscSportsShooter...,Rockstar GamesActivisionSony Computer Entertai...,39.80,54.12,3.58,18.29,115.85
2015.0,Call of Duty: Black Ops 3Fallout 4FIFA 16Star ...,ShooterRole-PlayingSportsShooterActionRole-Pla...,ActivisionBethesda SoftworksEA SportsElectroni...,49.60,56.21,7.28,20.88,133.99
2016.0,FIFA 17Uncharted (PS4)Call of Duty: Infinite W...,SportsActionShooterShooterRole-PlayingShooterS...,Electronic ArtsSony Interactive EntertainmentA...,47.40,57.98,9.65,20.71,135.72
2017.0,Call of Duty: WWIIFIFA 18Horizon: Zero DawnCra...,ShooterSportsActionPlatformShooterShooterActio...,ActivisionEA SportsSony Interactive Entertainm...,44.77,57.18,9.08,19.89,130.90
2018.0,Red Dead Redemption 2Spider-Man (PS4)God of Wa...,Action-AdventureAction-AdventureActionActionAc...,Rockstar GamesSony Interactive EntertainmentSo...,19.65,18.70,4.13,7.69,50.20
2019.0,Brothers in Arms: Furious 4Kingdom Hearts IIIE...,ShooterRole-PlayingMMOAdventureRole-PlayingPla...,UbisoftSquare EnixSony Online EntertainmentSon...,0.00,0.00,0.00,0.00,0.00
2020.0,deep down (Working Title)Whore of the OrientFi...,MiscMiscMiscMiscMiscRacingActionRole-Playing,CapcomWarner Bros. Interactive EntertainmentSq...,0.00,0.00,0.00,0.00,0.00

In [6]:
df.loc[(df['Global'] > 20)]

Empty DataFrame
Columns: [Game, Year, Genre, Publisher, North America, Europe, Japan, Rest of World, Global]
Index: []

In [7]:
df.loc[(df['Global'] > 15)]

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09

In [9]:
df.loc[(df['Global'] > 10)]

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80
5,FIFA 17,2016.0,Sports,Electronic Arts,1.26,7.95,0.12,1.61,10.94
6,Uncharted (PS4),2016.0,Action,Sony Interactive Entertainment,4.49,3.93,0.21,1.70,10.33

In [53]:
df_vendas = df.loc[(df['Global'] > 10)].reset_index()
df_vendas.head(10)

,index,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80
5,5,FIFA 17,2016.0,Sports,Electronic Arts,1.26,7.95,0.12,1.61,10.94
6,6,Uncharted (PS4),2016.0,Action,Sony Interactive Entertainment,4.49,3.93,0.21,1.70,10.33

In [32]:
# top 3 mais vendidos
percentual_vendas = df_vendas[['Genre','Global']].groupby('Genre').value_counts(normalize=True) * 100
percentual_vendas

Genre             Global
Action            10.33      50.0
                  19.39      50.0
Action-Adventure  13.94     100.0
Shooter           13.40      50.0
                  15.09      50.0
Sports            10.94      50.0
                  11.80      50.0
Name: proportion, dtype: float64

In [49]:
# percentual de vendas regiões
america_norte = [ round(america / total * 100) for america,total in zip(df_vendas['North America'], df_vendas['Global'])]
europa = [round(europa / total * 100) for europa,total in zip(df_vendas['Europe'], df_vendas['Global'])]
japao = [round(japao / total * 100) for japao,total in zip(df_vendas['Japan'], df_vendas['Global']) ]

[31, 41, 38, 35, 11, 12, 43]

In [65]:
# criação de outro dataframe
dict_game = {
    'games': [game for game in df_vendas['Game']],
    'genere':[genre for genre in df_vendas['Genre']],
    'north america':america_norte,
    'europe':europa,
    'japao':japao,
    'global':[g for g in df_vendas['Global']]
}

df_game = pd.DataFrame(dict_game)
df_game.head(10)

,games,genere,north america,europe,japao,global
0,Grand Theft Auto V,Action,31,50,3,19.39
1,Call of Duty: Black Ops 3,Shooter,41,40,3,15.09
2,Red Dead Redemption 2,Action-Adventure,38,45,2,13.94
3,Call of Duty: WWII,Shooter,35,46,3,13.40
4,FIFA 18,Sports,11,73,1,11.80
5,FIFA 17,Sports,12,73,1,10.94
6,Uncharted (PS4),Action,43,38,2,10.33